# Reglas globales

# Archivos y carpetas generadas
.gradle/
build/
captures/
.externalNativeBuild/

# Configuración de Android Studio
.idea/
*.iml

# Archivos de dependencias
*.jar
*.war
*.ear

# Archivos temporales
*.tmp
*.bak
*.swp
*.swo

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Configuración local
local.properties

# Archivos de NDK (Native Development Kit)
*.so
*.d
*.c
*.cpp
*.o
